/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 130px 20px 50px;
    max-width: 650px;
    margin: 0 auto;
}

.hero h1 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.hero p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Reusable Button Styles */
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 20px;
    margin-bottom: 3rem;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    font-weight: 600;
    transition: opacity 0.7s;
}

/* iOS Button (Green) */
.buttons a:nth-child(1) {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 10px 20px -10px hsl(171, 66%, 44%);
}

/* Mac Button (Blue) */
.buttons a:nth-child(2) {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 10px 20px -10px hsl(233, 100%, 69%);
}

.buttons a:hover {
    opacity: 0.8;
}

/* Call to Action Section */
.cta {
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 700px;
}

.cta h2 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Footer Section */
footer {
    background-color: hsl(220, 18%, 97%);
    padding: 50px 0;
    margin-top: 50px;
}

.official {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.official img {
    width: 50px;
    height: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    transition: color 0.7s;
}

.footer-links a:hover {
    color: hsl(171, 66%, 44%);
}

.social-icons {
    display: flex;
    gap: 25px;
    img {
        width: 20px;
        height: auto;
        transition: opacity 0.9s;
    }
    img:hover {
        opacity: 0.8
    }
}

/* Desktop Layout Adjustments */
@media (min-width: 768px) {
    body {
        background-image: url(./images/bg-header-desktop.png);
    }

    .buttons {
        flex-direction: row;
        padding: 0; 
    }

    .buttons a {
        width: auto;
    }

    .official {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
    }

    /* Push logo slightly right on desktop only */
    .official .footer-logo {
        margin-left: 70px;
    }

    .footer-links {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 10px 80px;
        text-align: left;
    }
}


.access-section {
    text-align: center;
    padding: 100px 20px 60px;
}

.text h2 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.text p {
     color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.devices {
    margin-top: 80px;
}

.devices img {
    width: 900px;
    max-width: 95%;
}