/* Importing the font file */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    text-align: center;
    padding: 130px 20px 50px;
    max-width: 650px;
    margin: 0 auto;
}

.hero h1 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.hero p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 20px;
    margin-bottom: 3rem;
}

.buttons a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    font-weight: 600;
    transition: opacity 0.7s;
}

.buttons a:nth-child(1) {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 10px 20px -10px hsl(171, 66%, 44%);
}

.buttons a:nth-child(2) {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 10px 20px -10px hsl(233, 100%, 69%);
}

.buttons a:hover {
    opacity: 0.8;
}

.cta {
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 700px;
}

.cta h2 {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta p {
    color: hsl(201, 11%, 66%);
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

footer {
    background-color: hsl(220, 18%, 97%);
    padding: 50px 0;
    margin-top: 50px;
}

.official {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}


.official img {
    width: 50px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    transition: color 0.7s;
}

.footer-links a:hover {
    color: hsl(171, 66%, 44%);
}

.social-icons {
    display: flex;
    gap: 25px;
    img {
        width: 20px;
        transition: opacity 0.9s;
    }
    img:hover {
        opacity: 0.8
    }
}

/* DESKTOP LAYOUT */
@media (min-width: 768px) {
    .buttons {
        flex-direction: row;
        padding: 0; 
    }

    .buttons a {
        width: auto;
    }

    .official {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .official .footer-logo {
        margin-left: 70px;
    }

    .footer-links {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 10px 80px;
        text-align: left;
    }
}
